nav {
 height: 125px;
 background-color: #001433 ;
 box-shadow: 8px 8px 4px #888888 ;
}

#nav-mobile {
 height: 30px;
 margin-top: 30px;
 padding-right: 50px;
}

.brand-logo {
 padding-top: 25px;
 height: 90%;
}

.nav-link {
 border-radius: 5px;
 color: #bbbbc3 ;
 font-size: 16px;
}

.active {
  border-radius: 5px;
  background-color:#2a8e00;
  box-shadow: 4px 4px 2px #888888 ;
}

.nav-link:hover {
 background-color: #2a8e00 ;
 /* background-color: #3dcc00 ; */
 color: #001433 ;
 box-shadow: 4px 4px 2px #888888 ;
}
