<nav>
 <div class="nav-wrapper">
   <div><a [routerLink]="['/']"><img src="https://image.ibb.co/cBWtS5/dev_den.png" class="brand-logo" alt="dev_den" border="0"></a></div>
   <ul id="nav-mobile" class="right hide-on-med-and-down">
     <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/']"class="nav-link">Home</a></li>
     <li>&nbsp;&nbsp;&nbsp;</li>
     <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/login']"class="nav-link">Login</a></li>
     <li>&nbsp;&nbsp;&nbsp;</li>
     <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/register']"class="nav-link">Register</a></li>
     <li>&nbsp;&nbsp;&nbsp;</li>
     <li><a [routerLink]="['/']"class="nav-link">Logout</a></li>
   </ul>
 </div>
</nav>
