<nav role="navigation">
  <div class="nav-wrapper container">

    <div class="devImg1"><img src="https://image.ibb.co/b1A0ba/dev_den_main.png" class="brand-logo"></div>
    <div class="devImg2"><img src="https://image.ibb.co/cSptwa/dev_den_lit.png" class="brand-logo" display="none"></div>

    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul id="nav-main" class="right hide-on-med-and-down">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/']" class="key letter" value="Refresh Page" onClick="window.location.reload()">Home</a></li>
      <li>&nbsp;&nbsp;&nbsp;</li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/login']" class="key letter" value="Refresh Page" onClick="window.location.reload()">Login</a></li>
      <li>&nbsp;&nbsp;&nbsp;</li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/register']" class="key letter" value="Refresh Page" onClick="window.location.reload()">Register</a></li>
    </ul>


    <ul id="nav-mobile" class="side-nav">
      <li><a [routerLink]="['/']" value="Refresh Page" onClick="window.location.reload()">Home</a></li>
      <li><a [routerLink]="['/login']" value="Refresh Page" onClick="window.location.reload()">Login</a></li>
      <li><a [routerLink]="['/register']" value="Refresh Page" onClick="window.location.reload()">Register</a></li>
    </ul>

  </div>
</nav>