<nav role="navigation">
  <div class="nav-wrapper">
    <div class="devImg1"><img src="https://image.ibb.co/b1A0ba/dev_den_main.png" class="brand-logo"></div>
    <div class="devImg2"><a [routerLink]="['/']" value="Refresh Page" onClick="window.location.reload()"><img src="https://image.ibb.co/cSptwa/dev_den_lit.png" class="brand-logo" display="none"></a></div>


    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul id="nav-main" class="right hide-on-med-and-down">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/']" class="key letter" value="Refresh Page" onClick="window.location.reload()">Home</a></li>
      <li>&nbsp;&nbsp;&nbsp;</li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/dashboard']" class="key letter" value="Refresh Page" onClick="window.location.reload()">Dashboard</a></li>
      <li>&nbsp;&nbsp;&nbsp;</li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/register']" class="key letter" value="Refresh Page" onClick="window.location.reload()">Developer Register</a></li>
      <li>&nbsp;&nbsp;&nbsp;</li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/login']" class="key letter" value="Refresh Page" onClick="window.location.reload()">Developer Login</a></li>
      <li>&nbsp;&nbsp;&nbsp;</li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/profile']" class="key letter" value="Refresh Page" onClick="window.location.reload()">Developer Profile</a></li>
      <li>&nbsp;&nbsp;&nbsp;</li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/empregister']" class="key letter" value="Refresh Page" onClick="window.location.reload()">Employer Register</a></li>
      <li>&nbsp;&nbsp;&nbsp;</li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/emplogin']" class="key letter" value="Refresh Page" onClick="window.location.reload()">Employer Login</a></li>
      <li>&nbsp;&nbsp;&nbsp;</li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/empprofile']" class="key letter" value="Refresh Page" onClick="window.location.reload()">Employer Profile</a></li>
      <li>&nbsp;&nbsp;&nbsp;</li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/']" class="key letter" value="Refresh Page" onClick="window.location.reload()">Logout</a></li>
      <li>&nbsp;&nbsp;&nbsp;</li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/about']" class="key letter" value="Refresh Page" onClick="window.location.reload()">About</a></li>
    </ul>


    <ul id="nav-mobile" class="side-nav">
      <li><a [routerLink]="['/']" value="Refresh Page" onClick="window.location.reload()">Home</a></li>
      <li><a [routerLink]="['/register']" value="Refresh Page" onClick="window.location.reload()">Developer Register</a></li>
      <li><a [routerLink]="['/login']" value="Refresh Page" onClick="window.location.reload()">Developer Login</a></li>
      <li><a [routerLink]="['/profile']" value="Refresh Page" onClick="window.location.reload()">Developer Profile</a></li><br/>
      <li><a [routerLink]="['/empregister']" value="Refresh Page" onClick="window.location.reload()">Employer Register</a></li>
      <li><a [routerLink]="['/emplogin']" value="Refresh Page" onClick="window.location.reload()">Employer Login</a></li>
      <li><a [routerLink]="['/empprofile']" value="Refresh Page" onClick="window.location.reload()">Employer Profile</a></li><br/>
      <li><a [routerLink]="['/']" value="Refresh Page" onClick="window.location.reload()">Logout</a></li>
      <li><a [routerLink]="['/about']" value="Refresh Page" onClick="window.location.reload()">About</a></li>
    </ul>

  </div>
</nav>