<div class="container center">
  <div class="row"></div>
  <h4>Login</h4>
  <div class="row">
    <form (submit)="onLoginSubmit()" class="col s12">
      <div class="row">
        <div class="col s4"></div>
        <div class="input-field col s4">
          <input [(ngModel)]="username" placeholder="Username" id="first_name" type="text" name="username" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="col s4"></div>
        <div class="input-field col s4">
          <input [(ngModel)]="password" placeholder="Password" id="password" type="password" name="password" class="validate">
          <br/>
          <input class="waves-effect waves-light btn" type="submit" value="Submit">
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col s4"></div>
      <div class="col s4">
        <hr/>
        <br/>
        <div class="forgot">If you've forgotten your password, click the button below.<br/>A reset link will be sent to the email on file.</div>
        <br/>
        <a [routerLink]="['/forgot']" id="download-button" class="waves-effect waves-light btn">Send Reset Link</a>
      </div>
    </div>

  </div>
</div>