<div class="container center">
  <div class="row"></div>
  <h3>Developer Login</h3>
  <div class="row">
    <form (submit)="onLoginSubmit()" class="col s12">
      <div class="row">
        <div class="col s4"></div>
        <div class="input-field col s4">
          <input [(ngModel)]="username" placeholder="Username" id="first_name" type="text" name="username" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="col s4"></div>
        <div class="input-field col s4">
          <input [(ngModel)]="password" placeholder="Password" id="password" type="password" name="password" class="validate">
          <input class="waves-effect waves-light btn" type="submit" value="Submit">
        </div>
      </div>
    </form>
  </div>
</div>