<!-- Home Page -->
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <br><br>

    <div class="container">
      <h1><br></h1>
      <h3 class="header center text text-lighten-2">Bridge the tech resource gap</h3>
      <div class="row center">
        <h4 class="header col s12 light"></h4>
      </div>
      <div class="row center">
        <a [routerLink]="['/register']" id="download-button" class="waves-effect waves-light btn-large">Get Started</a>
      </div>

      <br><br>
    </div>
  </div>

<!-- Parallax Image Top -->
<div class="parallax"><img src="https://image.ibb.co/jxcwEk/background_11.png" alt="Unsplashed background img 1"></div>

</div>

<!-- Developer Section -->
<div class="container">
  <div class="section">
    <h4 class="center">Developers</h4>
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><img src="https://image.ibb.co/ei9kba/tasks.png" height="150px;" alt="profile" border="0" /></h2>
          <h5 class="center black-text">Create a profile</h5>
          <!-- <p class="center black-text">Sign up and tell us about yourself</p> -->
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><img src="https://image.ibb.co/k5XGhF/coding_1.png" height="150px;" alt="skills" border="0" /></h2>
          <h5 class="center black-text">Show off your coding skills</h5>
          <!-- <p class="center black-text">Complete a skill-based coding challenge.</p> -->
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><img src="https://image.ibb.co/gEb3Uv/job_1.png" height="150px;" alt="job" border="0" /></h2>
          <h5 class="center black-text">Find a job</h5>
          <!-- <p class="center black-text">Browse and apply for any of the openings posted by our employer members.</p> -->
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Parallax Image Middle -->
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://image.ibb.co/ha83uk/software.jpg" alt="Unsplashed background img 2"></div>
</div>

<!--   Employer Section   -->
<div class="container">
  <div class="section">

    <h4 class="center">Employers</h4>
    <!--   Icon Section   -->
    <div class="row">

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><img src="https://image.ibb.co/jRyiUv/job_3.png" height="150px;" alt="job" border="0" /></h2>
          <h5 class="center">Post a job opening</h5>
          <!-- <p class="center">Sign up and tell us about yourself</p> -->
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><img src="https://image.ibb.co/jYXtUv/team_4.png" height="150px;" alt="browse" border="0" /></h2>
          <h5 class="center">Browse the Dev pool</h5>
          <!-- <p class="center">Complete a skill-based coding challenge.</p> -->
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><img src="https://image.ibb.co/dPwywa/worker.png" height="150px;" alt="hire" border="0" /></h2>
          <h5 class="center">Hire a Dev</h5>
          <!-- <p class="center">Browse and apply for any of the openings posted by our employer members.</p> -->
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Parallax Image Bottom -->
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://image.ibb.co/hxkGEk/hiring_developer.jpg" alt="Unsplashed background img 3"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row us">
      <div class="col s4"></div>
      <div class="col s4 center">
        <div class="about icon-block">
          <a [routerLink]="['/about']" class="key letter" value="Refresh Page" onClick="window.location.reload()">
            <img src="https://image.ibb.co/eivXev/Us.png" height="150px" alt="Us" border="0" />
            <p class="center-align light">
              We specialize in custom full-stack application development. Contact us today for a free estimate.
            </p>
          </a>
        </div>
      </div>
      <div class="col s4"></div>
    </div>

  </div>
</div>

<!-- Footer Section -->
<footer class="page-footer">
  <div class="center container">
    <div class="footer-copyright">
      <div class="container">
        &copy; Copyright 2017 Dev:den Development. All Rights Reserved.
      </div>
    </div>
  </div>
</footer>