 <div *ngIf="dev">

  <div class="container center">
    <div class="row"></div>
    <h4>{{dev.name}}'s Profile</h4>
    <div class="row">
      <div class="col s4"></div>
      <div class="col s4">
        <ul class="center list-group">
          <li class="list-group-item">Username: {{dev.username}}</li>
          <li class="list-group-item">Email: {{dev.email}}</li>
        </ul>
      </div>
      <div class="col s4"></div>
    </div>

    <div class="row">
      <div class="col s4"></div>
      <div class="col s4">
        <a [routerLink]="['/dashboard']" id="download-button" class="waves-effect waves-light btn-large">Back to Dashboard</a>
      </div>
      <div class="col s4"></div>
    </div>

  </div>

 </div> 
