<div class="container center">
  <div class="row"></div>
  <h4>Register with Dev:den</h4>
  <div class="row">
    <form (submit)="onRegisterSubmit()" class="col s12">
      
      <div class="row">
        <div class="col s4"></div>
        <div class="input-field col s4">
          <input [(ngModel)]="username" placeholder="Username" id="username" type="text" name="username" class="validate">
        </div>
      </div>

      <div class="row">
        <div class="col s4"></div>
        <div class="input-field col s4">
          <input [(ngModel)]="name" placeholder="Name" id="name" type="text" name="name" class="validate">
        </div>
      </div>

      <div class="row">
        <div class="col s4"></div>
        <div class="input-field col s4">
          <input [(ngModel)]="password" placeholder="Password" id="password" type="password" name="password" class="validate">
        </div>
      </div>

      <div class="row">
        <div class="col s4"></div>
        <div class="input-field col s4">
          <input [(ngModel)]="email" placeholder="Email" id="email" type="email" name="email" class="validate">
        </div>
      </div>

      <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
          <select type="String" [(ngModel)]="user.role">
            <option [ngValue]="developer">Developer</option>
            <option [ngValue]="employer">Employer</option>
          </select>
        </div>
        <br />
      </div>

      <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
          <input class="waves-effect waves-light btn" type="submit" value="Submit">
        </div>
      </div>
      
    </div>
  </div>      
  
  